body {
  background-color: rgb(0, 0, 0);
  color: rgb(41, 214, 41);
  margin-left: 70px;
}

.container-boton {
  display: flex;
}
button {
  margin-left: 10px;
  height: 22px;
  margin-top: 6px;
  background-color: red;
  color: white;
  border-radius:10px ;
}

li {
  margin: 6px;
}
